/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* Header Section Style */
.haitianLogo{
width:70% !important;
}

.header_Service_Text{
font-size: 22px;
font-weight: bolder;
}

/* Submit button style */
.submitbutton {
  width: 30%;
  font-size: 18px !important;
  color: white !important;
  background-color: #1364AE !important;
  border: 2px solid #1364AE !important; /* Ensures border visibility */
  transition: all 0.3s ease-in-out; /* Smooth transition */
}

.submitbutton:hover {
  background-color: white !important;
  color: #1364AE !important;
  border: 2px solid #1364AE !important; /* Keeps border on hover */
}

/* Media Queries  Style */

@media only screen and (max-width: 2560px) {
  .haitianLogo{
    width:30% !important;
    }
}

@media only screen and (max-width: 1444px) {
  .haitianLogo{
    width:30% !important;
    }
}

@media only screen and (max-width: 1026px) {
  .haitianLogo{
    width:50% !important;
    }
}

@media only screen and (max-width: 768px) {
  .haitianLogo{
    width:30% !important;
    }
}

@media only screen and (max-width: 427px) {
  .haitianLogo{
    width:70% !important;
    }
}

@media only screen and (max-width: 377px) {
  .haitianLogo{
    width:70% !important;
    }
}

@media only screen and (max-width: 326px) {
  .haitianLogo{
    width:70% !important;
    }
}